
{% extends 'base.html' %}

{% block main_content %}
{% csrf_token %}

<title> TaskManager - Login</title>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-start" href="#">
                    <h1> TaskManager </h1>
                </a>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="mt-2">
                    <h3> Welcome to TaskManager </h3>
                </div>
                <div class="border border-1 p-4 bg-light">
                    <span class="">Use below link to get started</span>
                    <div class="">
                        <a href="{% url 'register' %}" class="m-2">Register</a>
                        <a href="{% url 'login' %}" class="m-2">Login</a>
                        <a href="{% url 'my-task' %}" class="m-2">My Task</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}