
{% extends 'base.html' %}

{% block main_content %}
{% csrf_token %}

<title> TaskManager - Logout</title>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand text-start" href="#">
                    <h1> TaskManager </h1>
                </a>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="container">
            <h3> Logout </h3>
        </div>
        <span> Main Body</span>
    </div>
</div>

{% endblock main_content %}